{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "tsx",
          "java",
          "bash",
          "vim",
          "yaml"
        ],
        "plugins": [],
        "css": false
      }
    ]
  ]
}