[Unit]
Description=Terrace
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/home/git/terrace_deploy
Type=forking

ExecStart=/bin/bash -c 'sudo pkill terrace; sudo ./bin/terrace -production -redirect-to-https &'

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=terraceService
User=git
Group=git

Environment="NODE_ENV=production" "DEBUG=testapp:*"

[Install]
WantedBy=multi-user.target
