@import 'material-icons/iconfont/material-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-blue-700;
    transition: color 0.3s ease-out;
    text-decoration: none;
}

a:hover {
    @apply text-blue-500;
}

/* below are for backward compatibility of article contents */
img[src*="#shadow"] {
    box-shadow: 2px 2px 15px #ccc;
}

img[src*="#round"] {
    border-radius: 5px;
}

img[src*="#width-250"] {
    width: 250px;
}

img[src*="#width-100percent"] {
    width: 100%;
}

img[src*="#width-400"] {
    width: 400px;
}
