@import "@fontsource/bad-script";
@import "@fontsource/inconsolata";

.font-bad-script {
  font-family: "Bad Script", cursive;
}

.font-inconsolata {
  font-family: "Inconsolata", monospace;
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/SUIT-Variable.woff2) format('woff2');
}

.font-suit {
  font-family: "SUIT", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}