@layer utilities {
    a {
        @apply text-blue-700 transition-colors duration-300 ease-in-out decoration-0;
    }

    a:hover {
        @apply text-blue-500;
    }

    img {
        @apply max-w-full m-auto;
    }

    h1 {
        @apply text-[2.5rem] font-thin mt-[1.2em] mb-[8px] leading-[1.4];
    }

    h2 {
        @apply text-[2rem] font-thin mt-[1.2em] mb-[8px] leading-[1.4];
    }

    h3 {
        @apply text-[1.75rem] font-thin mt-[1.2em] mb-[8px] leading-[1.4];
    }

    h4 {
        @apply text-[1.25rem] font-thin mt-[1.2em] mb-[8px] leading-[1.4];
    }

    h5 {
        @apply text-[0.9rem] font-thin mt-[1.2em] mb-[8px] leading-[1.4];
    }

    h6 {
        @apply text-[0.7rem] font-thin mt-[1.2em] mb-[8px] leading-[1.4];
    }

    hr {
        @apply my-2 border-0 h-[1px] opacity-70;
        background-image: linear-gradient(90deg, #ccc,#333,#ccc);
    }

    @supports (-webkit-touch-callout: none) {
        .h-screen {
            height: -webkit-fill-available;
        }
    }
}

/* iframe {
    @apply max-w-full;
} */
